.popup {  
  /* position: fixed;   */
  position: fixed;
  overflow-y: scroll;
  z-index: 5;
  min-height: 100vh;  
  top: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
  background-color:#80bab6;
  padding-top: 1em;
}  

.popup\_inner {  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
  z-index: 100;
}

.explanation_container {
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  justify-content: space-around;
}

.explanation_container img {
  width: 50%;
  padding-right: 2em;
}

.button {
  padding-top: 1em;
  text-align: center;
}
.explanation_text {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5em;
}