.popup {  
  /* position: fixed;   */
  position: fixed;
  overflow-y: scroll;
  z-index: 5;
  min-height: 100vh;  
  top: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
  /* background-color:#80bdbf; */
  background-color: white;  
}  

.popup\_inner {  
  /* position: fixed;   */
  /* left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;   */
  margin: auto;  
  border-radius: 20px;  
  background: white;  
  z-index: 100;
  /* position:relative; */
}

.explanation_text {
  font-family: 'Fredoka One', cursive;
  color: #c9e165;
  letter-spacing: 5px;
  font-size: 1.5em;
}