
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Nunito:200,300,400&display=swap');

.App {
  /* text-align: center; */
  background-color:#80bdbf;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2.5em;
  color: white;
  line-height: 0em; 
}

h1 {
  font-family: 'Fredoka One', cursive;
  color: #c9e165;
  letter-spacing: 7px;
  font-size: 2em;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: #1d7589;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 2.5px;
}
